<a href="https://colab.research.google.com/github/amartsin/explore_ml_python/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Python **

Python is an interpreted, high level,general purpose programming language.It was first released in 1991.
Python is a very flexible language used in various fields like Machine Learning, Image Processing , Web Frameworks like Django.

There are mainly two types of numbers . 1. Integer 2. Floating point numbers 
So we'll see the basic operations we can do upon the numbers .

In [0]:
#Addition
2+3

5

In [0]:
#Subtraction
4-3

1

In [0]:
#Multiplication
2*3

6

In [0]:
#Division
7/4

1.75

In [0]:
7//4

1

**Whoa!!**
What just happened???
Actually the no. gives the floor function .

In [0]:
#Modulo
7%4

3

In [0]:
#Powers
2**3

8

In [0]:
#We can also do its roots in the same way 
4**0.5

2.0

In [0]:
#Order of operations 
2 + 10*10 + 3

105

**Variable Assignment**

In [0]:
#Lets create an object and assign it some value
a = 5

In [0]:
#Adding objects
a+a

10


The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

Python uses dynamic typing, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are statically typed.

In [0]:
my_dogs = 2

In [0]:
my_dogs

2

In [0]:
my_dogs = ['Sammy', 'Frankie']

In [0]:
my_dogs

['Sammy', 'Frankie']

**STRINGS**

To create a string in Python you need to use either single quotes or double quotes. For example:

In [0]:
# Single word
'hello'

'hello'

In [0]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [0]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: ignored

**STRING INDEXING**

We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called s and then walk through a few examples of indexing.

In [0]:
# Assign s as a string
s = 'Hello World'

In [0]:
#Check
s

'Hello World'

In [0]:
# Print the object
print(s)

Hello World

In [0]:
# Show first element (in this case a letter)
s[0]

'H'

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [0]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [0]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [0]:
#Everything
s[:]

'Hello World'

In [0]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [0]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

Can you think of a method to reverse the string using this ?

**STRING PROPERTIES**

t's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [0]:
s

'Hello World'

In [0]:
 # Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [0]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [0]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [0]:
letter = 'z'

In [0]:

letter*10

'zzzzzzzzzz'

In [0]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [0]:
# Lower case
s.lower()

'hello world concatenate me!'

In [0]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [0]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

**Formatting with placeholders**

You can use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [0]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

In [0]:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

The %s operator converts whatever it sees into a string, including integers and floats. The %d operator converts numbers to integers first, without rounding. Note the difference below:

In [0]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

**LIST**


Lists
Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:

1.) Creating lists
2.) Indexing and Slicing Lists
3.) Basic List Methods
4.) Nesting Lists
5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [0]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [0]:
my_list = ['A string',23,100.232,'o']

In [0]:
len(my_list)

4

**Indexing and Slicing**

Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [0]:
my_list = ['one','two','three',4,5]

In [0]:
# Grab element at index 0
my_list[0]

'one'

In [0]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [0]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']


We can also use + to concatenate lists, just like we did for strings.

In [0]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [0]:
# Make the list double
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

**BASIC LIST METHODS**

Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

In [0]:
# Create a new list
list1 = [1,2,3]

Use the append method to permanently add an item to the end of a list:

In [0]:
# Append
list1.append('append me!')

In [0]:
list1

[1, 2, 3, 'append me!']

Use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [0]:
# Pop off the 0 indexed item
list1.pop(0)

1

We can use the sort method and the reverse methods to also effect your lists:

In [0]:
new_list = ['a','e','x','b','c']

In [0]:
new_list.reverse()

In [0]:
new_list

['a', 'e', 'x', 'b', 'c']

In [0]:
new_list.sort()

In [0]:
new_list

['a', 'b', 'c', 'e', 'x']

**Nesting Lists**

A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [0]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [0]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [0]:
matrix[0]

[1, 2, 3]

In [0]:
matrix[0][0]

1

**DICTIONARIES**

We've been learning about sequences in Python but now we're going to switch gears and learn about mappings in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

This section will serve as a brief introduction to dictionaries and consist of:

1.) Constructing a Dictionary
2.) Accessing objects from a dictionary
3.) Nesting Dictionaries
4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [0]:
 #Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [0]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [0]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [0]:
my_dict['key3']

['item0', 'item1', 'item2']

In [0]:
my_dict['key3'][0]

'item0'

In [0]:
my_dict['key1']

123

In [0]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [0]:
my_dict['key1']

0

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [0]:
# Create a new dictionary
d = {}

In [0]:

# Create a new key through assignment
d['animal'] = 'Dog'

In [0]:
# Can do this with any object
d['answer'] = 42

In [0]:
d

{'animal': 'Dog', 'answer': 42}

**Nesting with Dictionaries**

In [0]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [0]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

**Dictionary Methods**

In [0]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [0]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [0]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [0]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

**TUPLES**


Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In this section, we will get a brief overview of the following:

1.) Constructing Tuples
2.) Basic Tuple Methods
3.) Immutability

**Constructing Tuples**

In [0]:
# Create a tuple
t = (1,2,3)

In [0]:
# Check len just like a list
len(t)

3

In [0]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [0]:
# Use indexing just like we did in lists
t[0]

'one'

**Immutability**

We cannot change an element at any position like we did for lists . This is the difference between Lists and Tuples. Moreover we cannot add any extra elements after the tuple is made. Thus , once a tuple is formed it's size cannot grow, unlike that in lists

**When to use Tuples**

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.